body {
	background-image: url("15.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.media {
    width: 522px;
    height: 854px;
    position: relative;
    margin-top: 411px;
    margin-left: 70px;
}
.item {
width: 576px;
    height: 236px;
    margin-top: -11px;
    margin-left: -36px;
    display: block;
}

